/*************************************************
                LAYOUT PRINCIPAL
**************************************************/


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #255C69;
  color: #FFFFFF;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

header{
    text-align: center;
    padding: 0;
}

header h1{
    padding: 25px;
    margin: 0;
}

main, header, nav, footer{
    max-width: 80%;
}

main, header{
    background-color: #447784;
}

main{
    padding: 25px;
}

footer{
    background-color: #0f434F;
    padding: 30px;
    text-align: center;
}

/*************************************************
                NAV BAR
**************************************************/


nav.navbar-light{
    padding: 0;
    background-color: #0f434F;
    text-align: center;
}

nav li{
    margin: 0px 10px;
}

nav.navbar-light ul.navbar-nav li a.nav-link,
nav.navbar-light ul.navbar-nav li.active a.nav-link{
    border-bottom: 5px solid #255C69;
}

nav.navbar-light ul.navbar-nav li a.nav-link:hover,
nav.navbar-light ul.navbar-nav li a.nav-link.active{
    background-color: #255C69;
    color: #FFFFFF;
}

nav.navbar-light button.navbar-toggler{
    background-color: #255C69;
}

nav.navbar-light .navbar-brand,
nav.navbar-light button.navbar-toggler,
nav.navbar-light ul.navbar-nav li a.nav-link:hover,
nav.navbar-light ul.navbar-nav li a.nav-link,
nav.navbar-light ul.navbar-nav li.active a.nav-link{
    color: #FFFFFF;
}

/*************************************************
                TERMINA NAV BAR
**************************************************/

main h2{
    text-align: center;
}
